controller_manager:
  ros__parameters:
    update_rate: 50

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    wheel_velocity_controller:
      ros__parameters:
        type: velocity_controllers/JointGroupVelocityController
        joints:
          - left_wheel_joint  # <-- DÜZELTİLDİ
          - right_wheel_joint # <-- DÜZELTİLDİ
        interface_name: velocity