controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    wheel_velocity_controller:
      type: velocity_controllers/JointGroupVelocityController

wheel_velocity_controller:
  ros__parameters:
    joints:
      - base_to_wheel_2
      - base_to_wheel_3
    interface_name: velocity
    command_interfaces:
      - velocity
    state_interfaces:
      - position
      - velocity